.st-dropdown {
  border-radius: 0px !important; 
  background-color: #008CBA !important;
  border: 2px solid #007B9A !important;
  color: white !important;
  height: 50px !important;
  width: 125px !important;
  text-align: center !important;
  line-height: 1.5 !important;
  font-size: 16px !important;
  cursor: pointer !important; 
  transition: background-color 0.3s, box-shadow 0.3s !important; 
  box-sizing: border-box !important;
  display: inline-block !important;

}

.st-option-button {
  border: 1px solid #007B9A ;
  border-radius: 0px; 
  background-color: #008CBA;
  border: 2px solid #007B9A;
  color: white; 
  line-height: 1.5 !important;
  height: 50px !important;
  width: 50px !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block;
  font-size: 16px !important;
  cursor: pointer !important; 
  transition: background-color 0.3s, box-shadow 0.3s !important; 
  align-items: center !important;
  justify-content: center !important;
  margin: 0px !important;
  box-sizing: border-box !important;
}


.st-option-button svg {
    margin: 0 !important;
    padding: 0 !important;
    vertical-align: middle !important;
    width: 24px !important;
    height: 24px !important;
    box-sizing: border-box !important;
}


.st-option-button:hover {
    background-color: #45a049 !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3) !important;
}

.jp-RenderedHTMLCommon p {
    margin: 0;
    margin-bottom: 1em;
}

.st-info-div {
    align-items: center !important;     
}

.st-body-toolbar-div {
align-items: center !important;
display: flex !important; 
justify-content: center !important; 
  margin: 0 !important;
  padding: 0 !important;
  appearance: none !important; 
  line-height: normal !important;
  margin: 0 !important;
  padding: 0.5em 1em !important;
  vertical-align: middle !important;
}

.st-toolbar {
align-items: center;
display: flex; 
justify-content: center; 
  margin: 0;
  padding: 0;
  appearance: none; 
  line-height: normal; 
  margin: 0;
  padding: 0.5em 1em; 
  vertical-align: middle;
}





.st-logo-button svg {
  width: 100% !important;
  height: 100% !important;
  vertical-align: middle !important; 
  margin: 0 !important;
  margin-bottom: 0 !important;
}



/* select { */
/*     appearance: none;  */
/*     text-align: center; */
/*     box-sizing: border-box;  */
/* } */


.st-svg {
  width: 100% !important;
  height: 1000px !important;
}


.st-svg-2 {
  width: 100% !important;
}



.st-target {
  font-family: lato !important;
  fill: #333333 ;
}


.st-pie-target {
  font-family: lato !important;
  fill: #333333;
}

.st-pie-target2 {
  font-family: lato !important;
  fill: #333333;
}

.st-grid path {
  stroke-width: 0;
  stroke: #333333;
}

.st-grid .tick line {
  stroke: #333333;
  stroke-width: 0.3px;
  stroke-opacity: 0.3;
}


.st-tooltip {
  font-family: lato !important;
}

.st-modal {
    display: none; 
    position: fixed; 
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
    background-color: rgba(0, 0, 0, 0.7); 
}


.st-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%; 
    height: 90%;
    max-width: 90%;
    max-height: 90%;
    text-align: center;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex; 
    flex-direction: column;
}



.st-container {
    background-color: #fefefe;
    width: 100%; 
    height: 100vh;
    max-height: 825px;
    text-align: center;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    gap: 0;
    padding: 0;
    margin: 0;
}


.st-body-tree-div {
  min-height: 1000px;
}


.st-logo {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0;
  position: absolute;
}




.st-container > div {
    margin: 0;
    padding: 0;
}



.st-closeBtn {
    color: #aaa;
    position: absolute;
    float: right;
    font-size: 28px;
    font-weight: bold;
    top: 10px;
    right: 20px;
}

.st-closeBtn:hover,
.st-closeBtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



.st-logo-button {
  height: 100%;
  padding: 14px 28px;
  background: #008CBA;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  justify-content: center;
  align-items: center;


}

.st-link{
  stroke: #000;
  fill: none;
}

#my-window {
    position: relative; 
}



.st-side-panel {
    width: 300px; 
    background-color: #f3f9fb;
    position: absolute;
    top: 0;
    right: -350px;
    bottom: 0;
    padding: 10px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    transition: right 0.3s ease;
    overflow-y: auto; 
}

.st-side-panel.show {
    right: 0px;
}

.st-side-panel.hide {
    right: -350px; 
}

.st-side-panel svg {
    width: 100%;
}


.st-openModal {
    background-color: #008CBA;
    border: 2px solid #007B9A;
    color: white; 
    padding: 14px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; 
    border-radius: 8px; 
    transition: background-color 0.3s, box-shadow 0.3s; 
}

.st-openModal:hover {
    background-color: #45a049;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.st-close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #000;
}

.st-tree-div {
    flex-grow: 1; 
    display: flex;
    justify-content: center; 
    align-items: center;
}


.yAxis{
  color: #000000;
}

.xAxis-text {
  color: #000000;
}

.jp-Cell-outputArea{
  height: auto !important;
  max-height: none !important;
}
